extends layout

block content
  style.
    #costumeContainer {
      width: 50%;
      margin: auto;
      padding: 20px;
      background-color: #f0f0f0;
    }
    
    .costumeAttr {
      color: #333;
    }
    
    .btn {
      background-color: #4caf50;
      color: white;
    }

    .btn-secondary {
      background-color: #555;
      color: white;
    }

  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let costumeid = toShow._id
    - let productname = toShow.productname
    - let manufacturer = toShow.manufacturer
    - let price = toShow.price
    - let actionid = "/resource/electronics/" + costumeid

    script.
      let actionid = "#{actionid}"

    div(id='costumeContainer')
      div.row
        div(class='costumeAttr mr-3') Costume ID is:
          div #{costumeid}
        div.row
          div(class='costumeAttr mr-3') Costume Type is:
            div #{productname}
        div.row
          div(class='costumeAttr mr-3') Costume Size is:
            div #{manufacturer}
        div.row
          div(class='costumeAttr mr-3') Costume Cost is:
            div #{price}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/costumes';
      }

    script.
      function deleteOnid() {
        console.log("starting delete");
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded");
          window.location.href='/costumes';
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error);
        });
      }
