extends layout

block content
  h1= title
  -
    const results = [
      { productname: "Electronics 1", manufacturer : "dell", price: 199.99 },
      { productname: "Electronics 2", manufacturer: "Hp" , price: 249.99 },
      { productname: "Electronics 3", manufacturer: "Apple", price: 299.99 }
    ];
  .container-fluid
  .row
    - for (let i = 0; i < results.length; i++)
      .col-sm-2
        h4= results[i].productname
        h3(onclick=`buy(${i})`) BUY
        p manufacturer: #{results[i].manufacturer} 
        p Price: $#{results[i].price}

  script.
      function buy(index) {
        alert("You purchased item " + index);
      }